RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteCond $1 !^(css|js|images|inc|lang)
RewriteRule ^(.*)$ $1.php
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

RewriteRule ^masraflar-([0-9]+)$ index.php?page=masraflar&sayfa=$1 [NC]
RewriteRule ^personel-([0-9]+)$ index.php?page=personel&sayfa=$1 [NC]
RewriteRule ^odemeler-([0-9]+)$ index.php?page=odemeler&sayfa=$1 [NC]
RewriteRule ^alacaklar-([0-9]+)$ index.php?page=alacaklar&sayfa=$1 [NC]
RewriteRule ^satislar-([0-9]+)$ index.php?page=satislar&sayfa=$1 [NC]
RewriteRule ^nakit-([0-9]+)$ index.php?page=nakit&sayfa=$1 [NC]
RewriteRule ^masraf-duzenle-([0-9]+)$ index.php?page=masraf-duzenle&id=$1 [NC]
RewriteRule ^odeme-duzenle-([0-9]+)$ index.php?page=odeme-duzenle&id=$1 [NC]
RewriteRule ^satis-duzenle-([0-9]+)$ index.php?page=satis-duzenle&id=$1 [NC]
RewriteRule ^personel-duzenle-([0-9]+)$ index.php?page=personel-duzenle&id=$1 [NC]
RewriteRule ^alacak-duzenle-([0-9]+)$ index.php?page=alacak-duzenle&id=$1 [NC]
RewriteRule ^nakit-duzenle-([0-9]+)$ index.php?page=nakit-duzenle&id=$1 [NC]
RewriteRule ^masraf-ekle$ index.php?page=masraf-ekle [NC]
RewriteRule ^logout$ index.php?page=logout [NC]
